.display-list{
	.property-wrapper{
		float:left;
		padding-left: $gutter;
		width: 100%;
		@include box-sizing(border-box);
		& + .property-wrapper{margin-top: $gutter;}
		@include below(768px){
			padding-left: $half-gutter;
			& + .property-wrapper{margin-top: $half-gutter;}
		}
	}

	.property-image{
		max-width: 360px;
		float: left;
		@include between(400px, 860px){
			float: none;
			width: 100%;
			max-width: 100%;
			overflow: hidden;
			height: 200px;
			margin-bottom: $half-gutter;
			img{
				position: absolute;
				min-width: 100%;
				min-height: 100%;
               	left: 50%;
                top: 50%;
            	@include transform(translateX(-50%) translateY(-50%));
			}
		}
	}

	.property-details{
		padding-left: $gutter + 360px;
		@include box-sizing(border-box);
		@include below(860px){
			padding-left: 0;
		}
	}
	
	.property-title{
		white-space: nowrap;
		text-overflow: ellipsis;
		font-size: rem-calc(21);
		line-height: rem-calc(25);
		margin-bottom: 15px;
	}

	.property-detail{
		margin: 0;
		padding: 0;
		list-style: none;
		color: $blue;
		font-size: rem-calc(16);
		line-height: rem-calc(18);
		margin-top: 3px;
		margin-right: 15.5844%;
		@include below(1070px){
			float: none;
			display: block;
			clear: right;
			height: 18px;
			padding-top: 10px;
		}
		li{
			float: left;
			&:not(:first-child){margin-left: 30px}
		}
		span{color: $yellow;}
	}

	.price, .city{
		@include below(450px){
			float: none;
			display: block;
		}
	}

	.price{
		@include below(450px){margin-top: 5px;}
	}

	.property-content{
		clear: right;
		padding-top: 15px;
		display: -webkit-box;
		-webkit-line-clamp: 7;
 		-webkit-box-orient: vertical;
	}
}