// Colors
$blue		: #004775;
$black		: #272727;
$white		: #ffffff;
$yellow		: #faa61a;
$gray		: #858585;
$dark-gray	: #4f4f4f;
$light-gray : #e1e1e1;

// Gutters
$big-gutter		: 72px;
$gutter			: 50px;
$half-gutter	: $gutter/2;

// Font
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);
$font-family: 'Roboto', sans-serif;    