@import "_settings.scss";
@import "_mixins.scss";
@import '_slideshow.scss';

#content-wrapper{
	@extend %flexbox;
	@include flex-direction(column);
	@include align-items(stretch);
	@include align-content(stretch);
}

header[role="property"]{
	background: rgba($white, 0.9);
	padding: 35px 0;
	position: relative;
	z-index: 500;
	@include box-sizing(border-box);
	&.open{background: $white}
	h1{
		margin-bottom: 20px;
		@include clearfix;
		span.title{
			float: left;
			width: 80%;
			@include box-sizing(border-box);
		}
		span.price{

		}
	}
	.property-detail{
		margin: 0;
		padding: 0;
		list-style: none;
		color: $blue;
		font-size: rem-calc(16);
		line-height: rem-calc(18);
		margin-top: 3px;
		li{
			float: left;
			&:not(:first-child){margin-left: 30px}
		}
		span{color: $yellow;}
	}
}

#more-info{
	position: absolute;
	right: 50%;
	margin-right: -590px;
	z-index: 700;
	margin-top: $gutter;
	&.open span{@include background-retina('/images/icon-arrow-up-white.png', 9px, 5px); }
	& > span{
		padding-right: 15px;
		display: inline-block;
		background-repeat: no-repeat;
		background-position: right center;
		@include background-retina('/images/icon-arrow-down-white.png', 9px, 5px); 
	}
}

.button{
	width: 165px;
	text-align: center;
	line-height: rem-calc(65);
	display: inline-block;
	text-decoration: none;
	font-weight: 700;
	color: $blue;
	font-size: rem-calc(21);
	&.yellow{
		background: rgba($yellow, 0.9);
		&:hover{
			background-color: rgba($blue, 0.9);
			color: $white;
		}
	}
	&.blue{
		background: rgba($blue, 0.9);
		color: $white;
		&:hover{
			background-color: rgba($yellow, 0.9);
			color: $blue;
		}
	}
	&.small{
		font-size: rem-calc(16);
		line-height: rem-calc(50);
	}
	&.long{
		width: 100%;
	}
}

#detail-wrapper{
	position: relative;
	overflow: hidden;
}

#detail{
	max-height: 0;
	z-index: 400;
	background: rgba($white, 0.9);
	padding-bottom: 60px + $gutter;
	opacity: 0;
	overflow: hidden;
	@include transform(translateY(-100%));
	@include transition(0.3s ease-in-out);
	@include flex-grow(2);
	&.open{
		max-height: none;
		min-height: 100%;
		opacity: 1;
		@include transform(translateY(0));
	}
	.container{
		padding-top: $gutter;
	}
}

#description{
	text-align: justify;
	margin-bottom: $gutter;
}

.detail{
	& + .detail{
		margin-top: $gutter;
	}
	dl {
   		margin: 0;
   		& > div{
   			padding: 3px 0;
   			@include clearfix;
   		}
   		dt{
   			float: left;
		    margin: 0;
		    padding-right: 5px;
   		}
   		dd{
   			margin: 0;
		    font-weight: 700;
		    text-align: right;
		    color: $blue;
		    word-break: break-all;
   		}
	}

	.epc-slider {
	    height: 17px;
	    background: #5fcc29;
	    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzVmY2MyOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iI2Y0YmM2MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc1JSIgc3RvcC1jb2xvcj0iI2YxNWEyMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjZTAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	    background: -moz-linear-gradient(left, #5fcc29 0%, #f4bc61 40%, #f15a21 75%, #ce0000 100%);
	    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #5fcc29), color-stop(40%, #f4bc61), color-stop(75%, #f15a21), color-stop(100%, #ce0000));
	    background: -webkit-linear-gradient(left, #5fcc29 0%, #f4bc61 40%, #f15a21 75%, #ce0000 100%);
	    background: -o-linear-gradient(left, #5fcc29 0%, #f4bc61 40%, #f15a21 75%, #ce0000 100%);
	    background: -ms-linear-gradient(left, #5fcc29 0%, #f4bc61 40%, #f15a21 75%, #ce0000 100%);
	    background: linear-gradient(to right, #5fcc29 0%, #f4bc61 40%, #f15a21 75%, #ce0000 100%);
	    // filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#5fcc29  ', endColorstr='#ce0000  ', GradientType=1 );
	    position: relative;
	    margin-bottom: 15px;
	    margin-top: $half-gutter;
	    .epc-slider-nonblur {
		    position: absolute;
		    top: 0;
		    right: 0;
		    height: 17px;
		    background: rgba($black, 0.85)
		}
		.epc-number {
		    position: absolute;
		    background: $blue;
		    padding: 0px 10px;
		    color: $white;
		    height: 26px;
		    top: -4px;
		    left: 200px;
		    line-height: 26px;
		    font-weight: 700;
		}
	}
}

#thumbnails{
	position: relative;
	// overflow: hidden;
	// height: 0;
	// padding-top: 137.2654%;
	height:100%;
	&.with-pages{height:390px; margin-top: 0;}
	-webkit-overflow-scrolling: touch;
	white-space: nowrap;
	margin-top: $gutter;
	.thumbnails-scrollwindow {
		position: absolute;
		top: 0;
		overflow-y: scroll;
		overflow-x: hidden;
		padding:0;
		height: 390px; min-width: 100%;
		margin-left: -30px;
		@include below(450px){
			height: 108px;
			overflow-y: hidden;
			overflow-x: scroll;
		}
	}
	.thumbnails-wrapper {
		position: relative;
		@include clearfix;
	}
	.row{
		width: 100%;
		@include clearfix;
		@include below(450px){
			float: left;
			width: 25%;
			a{margin-top: 0 !important;}
		}
		+ .row{
			a{margin-top: 30px;}
		}
	}
	.photo{
		float: left;width:50%;
		img{display:block;}
		@include below(450px){float: none; width: auto; display: inline-block;}
	}
	a{
		margin-top: 0;
		width: auto;
		display: block;
		margin-left: 30px;
	}
}

.arrow {
	width: 100%; height: 9px;
	z-index: 300;
	cursor: pointer;
	border-bottom: 1px solid darken($gray, 10%);
	background-color: $light-gray;
	background-position: center center;
	background-repeat: no-repeat;
	@include background-retina("/images/icon-arrow-down-blue.png", 6px, 3px);
	@include transition(all 0.3s);
	&.bottom{margin-top: 10px;}
	&.top {
		margin-top: $gutter;
		margin-bottom: 10px;
		@include background-retina("/images/icon-arrow-up-blue.png",  6px, 3px);
	}
	&.disabled{
		opacity: 0.2;
		pointer-events: none;
	}
	.touch &{display:none;}
}

#map-canvas, #social{
	margin-top: $gutter;
}

.virtual{
	margin-top: 30px;
	span{
		display: inline-block;
		padding-left: 35px;
		background-position: left center;
		background-repeat: no-repeat;
		@include transition(background-image 0.3s ease-in-out);
		@include background-retina('/images/icon-virtual-blue.png', 30px, 18px);
	}
	&:hover span{@include background-retina('/images/icon-virtual-white.png', 30px, 18px);}
}
