@import "_settings.scss";
@import "_mixins.scss";

#display{
	margin: 0;
	padding: 0;
	list-style: none;
	width: 100px;
}

#search-form{
	clear: both;
	background: rgba($gray, 0.2);
	padding: 8px 20px;
	margin-top: 30px;
	position: relative;
	@include clearfix;
	#input-fields{
		position: relative;
		padding-right: 132px;
		@include clearfix;
		@include below(600px){
			padding-right: 0;
		}
	}
	.input{
		&:not(:first-child){margin-left: 45px}
		& > label{
			color: $black;
			font-weight: 400;
			float: left;
			line-height: rem-calc(37);
			margin-right: 15px;
			@include below(768px){
				float:none;
				display: block;
			}
		}
		&.select{
			.btn-group, .selector{
				float: left;
			}
		}
		@include below(1170px){
			width: 50%;
			&:not(:first-child){margin-left: 0px}
			&:nth-child(n+3){margin-top: 10px;}
		}
		@include below(450px){
			width: 100%;
			&:nth-child(n+3){margin-top: 0px;}
			.btn-group, .selector{width: 100% !important;}
		}
	}
	#select-types{
		.btn-group, .selector{
			width: 115px !important;
			@include below(450px){width: 100% !important;}
		}
	}

	#select-rooms{
		.btn-group, .selector{
			width: 75px !important;
			@include below(450px){width: 100% !important;}
		}
	}

	#select-price{
		.btn-group, .selector{
			width: 120px !important;
			@include below(450px){width: 100% !important;}
		}
	}

	#select-cities{
		.btn-group, .selector{
			width: 160px !important;
			@include below(450px){width: 100% !important;}
		}
	}
	#input-submit{
		position: absolute;
		right: 20px;
		top: 8px;
		@include below(1170px){
			top: 50%;
			margin-top: -18px;
		}
		@include below(600px){
			position: relative;
			right: auto;
			top: auto;
			margin-top: 10px;
			text-align: center;
		}
	}
}

#properties{
	margin-top: $gutter;
	margin-bottom: $gutter;
	@include below(768px){
		margin-top: $half-gutter;
		margin-bottom: $half-gutter;
	}
}

@import '_property.scss';

#pagination{
	margin:0;
	padding: 0;
	list-style-type: none;
	li{
		float: left;
		@include no-select;
		&:not(:first-child){margin-left: 10px;}
		&.selected, &.dots{
			font-size: rem-calc(14);
			line-height: rem-calc(38);
			padding: 0 14px;
			background: $blue;
			color: $white;
		}
		&.selected{
    		color: $white;
    		background: $yellow;
		}
		@include below(599px){
    		&:not(.pagination-arrow){display: none;}
		}
	}
	li, a{
		text-decoration: none;
		font-size: rem-calc(14);
		line-height: rem-calc(38);
		color: $white;
		display: block;
		background: $blue;
	}
	a{
		padding: 0 14px;
		@include transition(0.15s ease-in-out);
		&:hover{
			background: $yellow;
			color:$white;
		}
	}
	.arrow{padding: 0 20px;}
}